.mui-header{
    width: 100%;
    min-height: 44px;
    padding: 10px 15px;
    background-color: #FFF;
    text-align: center;
    position: relative;
}
.mui-header:after {
    position: absolute;
    right: 0;
    left: 0;
    bottom:0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}
body{
    background-color: #FFF;
    height: 100%;
    overflow: hidden;
}
.mui-views,
.mui-view,
.mui-pages,
.mui-page,
.mui-page-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.mui-pages {
    top: 46px;
    height: auto;
}
.mui-scroll-wrapper,
.mui-scroll {
    background-color: #fff;
}
.mui-page.mui-transitioning {
    -webkit-transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
}
.mui-page-left {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.mui-ios .mui-page-left {
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
}
.mui-navbar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    height: 44px;
    background-color: #f7f7f8;
}
.mui-navbar .mui-bar {
    position: absolute;
    background: transparent;
    text-align: center;
}
.mui-android .mui-navbar-inner.mui-navbar-left {
    opacity: 0;
}
.mui-ios .mui-navbar-left .mui-left,
.mui-ios .mui-navbar-left .mui-center,
.mui-ios .mui-navbar-left .mui-right {
    opacity: 0;
}
.mui-navbar .mui-btn-nav {
    -webkit-transition: none;
    transition: none;
    -webkit-transition-duration: .0s;
    transition-duration: .0s;
}
.mui-navbar .mui-bar .mui-title {
    display: inline-block;
    width: auto;
}
.mui-page-shadow {
    position: absolute;
    right: 100%;
    top: 0;
    width: 16px;
    height: 100%;
    z-index: -1;
    content: '';
}
.mui-page-shadow {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
}
.mui-navbar-inner.mui-transitioning,
.mui-navbar-inner .mui-transitioning {
    -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
    transition: opacity 300ms ease, transform 300ms ease;
}
.mui-page {
    display: none;
}
.mui-pages .mui-page {
    display: block;
}
.mui-page .mui-table-view:first-child {
    margin-top: 15px;
}
.mui-page .mui-table-view:last-child {
    margin-bottom: 30px;
}
.mui-table-view {
    margin-top: 20px;
}

.mui-table-view span.mui-pull-right {
    color: #999;
}
.mui-table-view-divider {
    background-color: #efeff4;
    font-size: 14px;
}
.mui-table-view-divider:before,
.mui-table-view-divider:after {
    height: 0;
}
.mui-scroll{
    height: 100%;
}
.mui-indexed-list{
    height: 100%;
}
.openFormula{
    padding: 5px 0;
    margin: 10px auto;
    display: block;
    width: 90%;
}

.formula-detail{
    padding: 4px;
}
.formula-detail .formula-title{
    text-align: center;
}
.formula-detail .formula-title>span{
    display: inline-block;
    border: 1px solid #efeff4;
    padding: 2px 6px;
}
.formula-detail .formula-material{
    padding: 0;margin: 18px 0 0;
    position: relative;
}
.formula-detail .formula-material:after{
    position: absolute;
    content: " ";
    display: block;
    top:-18px;
    left: 50%;
    background-color: #ccc;
    width: 1px;
    height: 10px;
}
.formula-detail .formula-material:before{
    position: absolute;
    content: " ";
    display: block;
    top:-8px;
    left: 10%;
    width: 80%;
    height: 8px;
    border: 1px solid #efeff4;
    border-bottom: none;
}
.formula-detail .formula-material>li{
    font-size: 12px;
    position: relative;
    list-style: none;
    text-align: center;
    margin-right: 15px;
    line-height: 1.8;
    float: left;
}
.formula-detail .formula-material>li:after{
    position: absolute;
    content: " + ";
    display: block;
    top:0;
    right:-13px;
    width: 10px;
    height: 27px;
    font-size: 14px;
}
.formula-detail .formula-material>li:last-child{
    margin-right: 0;
}
.formula-detail .formula-material>li:last-child:after{
    display: none;
}
.formula-detail .formula-material>li>span{
    border: 1px solid #efeff4;
    padding: 2px 6px;
    display: inline-block;
}
.formula-detail .formula-material>li>.formula-material{

}
.formula-detail .formula-material>li>.formula-material:after{
    position: absolute;
    content: " ";
    display: block;
    top:-18px;
    background-color: #ccc;
    width: 1px;
    height: 10px;
}







